@charset "UTF-8";
* {
  margin: 0px;
  -webkit-box-sizing: 0px;
          box-sizing: 0px;
}

@font-face {
  font-family: 'regular';
  src: url(./source/font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: 'bold';
  src: url(./source/font/NotoSansKR-Bold.otf);
}

body {
  font-family: 'regular';
  letter-spacing: -0.25px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'bold';
}

.intro-page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../source/intro/intro-background.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.intro-title {
  color: #fff;
}

.intro-title h1 {
  font-size: 28px;
}

.intro-title .intro-description {
  color: #999;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 'regular';
  line-height: 24px;
}

.intro-title p {
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 'bold';
}

.choose-profile {
  margin-top: 60px;
}

.choose-profile .profile-title {
  text-align: center;
  margin: auto;
  color: #524740;
  font-size: 16px;
  width: 60%;
  padding: 6px 8px 4px;
  border-radius: 30px;
  background-color: #FFC800;
}

.profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto 0px;
}

.profile {
  overflow-x: hidden;
}

input[type=radio] {
  display: none;
  margin: 10px;
}

input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.profile-img {
  width: 80px;
  height: 80px;
  padding: 4px;
  border-radius: 25px;
  border: 3px solid rgba(255, 200, 0, 0);
}

.profile-img img {
  width: 100%;
}

.user-name {
  margin-top: 20px;
}

.user-name h5 {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.user-name .active-text-line {
  width: 100%;
  height: 3px;
  margin-top: 4px;
  background-color: #FFC800;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.profile:hover .profile-img {
  border: 3px solid #FFC800;
}

.profile:hover .active-text-line {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

input[type=radio]:checked + label .profile-img {
  border: 3px solid #FFC800;
}

input[type=radio]:checked + label .active-text-line {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.error {
  font-size: 14px;
  color: #e43121;
  font-weight: 'bold';
  margin-top: 12px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.error-show {
  visibility: visible;
  height: 20px;
}

.enter-btn {
  margin-top: 48px;
  padding: 12px 60px 10px;
  border-radius: 10px;
  background-color: #FFC800;
  color: #524740;
  border: none;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.enter-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.main-page {
  display: none;
}

.show {
  display: initial;
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header img {
  margin: 15px auto;
  display: block;
  height: 30px;
}

.chatting-area {
  max-width: 750px;
  width: 100%;
  height: 3000px;
  background-color: #FFF2C4;
  margin: auto;
  padding: 80px 20px 40px;
  position: relative;
}

.chat-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  color: #999;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.chat-message h5 {
  width: 30%;
  text-align: center;
}

.chat-message hr {
  width: 35%;
  height: 0.5px;
}

.chat-left {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  opacity: 0;
}

.chat-profile {
  width: 40px;
  height: 40px;
  background-color: #999;
  border-radius: 40px;
}

.chat-user-information {
  margin-left: 10px;
}

.chat-user-information .chat-user-name {
  font-size: 12px;
  font-weight: 500;
}

.chat-box {
  margin-top: 8px;
  font-size: 16px;
  padding: 10px 24px 8px;
  background-color: #fff;
  border-radius: 0px 20px 20px 20px;
}

.chat-right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px 0px 0px auto;
  font-size: 16px;
  padding: 10px 24px 8px;
  background-color: #FFC800;
  border-radius: 20px 0px 20px 20px;
  text-align: right;
  right: 0px;
  position: -webkit-sticky;
  position: sticky;
  opacity: 0;
}

.chat1 {
  margin-top: 140px;
  top: 116px;
}

.chat2 {
  margin-top: 100px;
  top: 200px;
}

.chat3 {
  margin-top: 140px;
  top: 284px;
}

.chat4 {
  margin-top: 120px;
  top: 365px;
}

.chat5 {
  margin-top: 120px;
  top: 449px;
}

.chat6 {
  margin-top: 120px;
  top: 533px;
}

.chat7 {
  margin-top: 120px;
  top: 617px;
}

.chat8 {
  margin-top: 120px;
  top: 701px;
}

.chat9 {
  margin-top: 120px;
  top: 785px;
}

.chat10 {
  margin-top: 120px;
  top: 882px;
}

.interview-area {
  max-width: 750px;
  width: 90%;
  margin: auto;
  padding-bottom: 100px;
}

.interview-title {
  text-align: center;
  margin-top: 120px;
}

.interview-title p {
  font-size: 16px;
  font-weight: 500;
}

.interview-title h1 {
  margin: 12px auto 200px;
  font-size: 24px;
  font-weight: 700;
}

.keyword-anchor-btns {
  gap: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.anchor-btn {
  padding: 10px 24px 8px;
  border: 1.4px solid #FFC800;
  border-radius: 20px;
  color: #000;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.anchor-btn:hover {
  background-color: #FFC800;
  color: #fff;
}

.anchor-active {
  color: #fff;
  background-color: #FFC800;
  border: 1.4px solid #FFC800;
}

.interview {
  margin-top: 160px;
}

.interview-keyword {
  font-size: 32px;
  line-height: 46px;
  font-weight: 700;
}

.interview-description {
  font-size: 20px;
  line-height: 28px;
  color: #999;
  margin-top: 8px;
}

.question {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
}

.answer {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
}

.interview-visual-content {
  margin-top: 40px;
}

.interview-visual-content h6 {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin: 16px auto 0px;
  text-align: center;
}

.interview-img {
  padding-top: 56.25%;
  position: relative;
}

.interview-img img {
  position: absolute;
  top: 0;
  background-color: #d5d5d5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.BAMP-SNS {
  margin: 160px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.SNS-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px auto;
  gap: 20px;
}

.icon-img {
  background-color: #ffc800;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.icon-img img {
  display: block;
  margin: 14px auto;
}

.donation {
  margin-top: 60px;
  text-align: center;
}

.donation h6 {
  margin-top: 12px;
  font-size: 14px;
  color: #999;
}

.donation p {
  margin-top: 20px;
}

/* Mobile부분 CSS */
@media screen and (max-width: 768px) {
  .chatting-area {
    width: 95%;
    padding: 80px 15px 40px;
  }
  .chat-message {
    gap: 10px;
  }
  .chat-message h5 {
    width: 100%;
  }
  .chat-box {
    font-size: 14px;
    margin-right: 20px;
    padding: 10px 16px 8px;
  }
  .chat-right {
    font-size: 14px;
    margin: 24px 5px 0px auto;
    padding: 10px 16px 8px;
  }
}
/*# sourceMappingURL=main.css.map */