@import '_all.scss';

.intro-page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // 배경 이미지
    background-color: rgba($color: $black, $alpha: 0.6);
    background-image: url("../source/intro/intro-background.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
.intro-title {
    color: $white;
    h1 {
        font-size: 28px;
    }
    .intro-description {
        color: $gray1;
        margin-top: 12px;
        font-size: 14px;
        font-weight: 'regular';
        line-height: 24px;
    }
    p {
        margin-top: 12px;
        color: $white;
        font-size: 18px;
        font-weight: 'bold';
    }
}
.choose-profile {
    margin-top: 60px;
    .profile-title {
        text-align: center;
        margin: auto;   
        color: $brown;
        font-size: 14px;
        width: 50%;
        padding: 6px 8px 4px;
        border-radius: 30px;
        background-color: $bampYellow;
    }
}        
.profile-box {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin: 32px auto 0px;
}
.profile {
    overflow-x: hidden;
}
input[type=radio] { 
    display:none;  
    margin:10px; 
} 
input[type=radio] + label { 
    display:inline-block; 
    cursor: pointer;
    text-align: center; 
} 

.profile-img {
    width: 64px;
    height: 64px;
    padding: 4px;
    border-radius: 25px;
    border: 3px solid rgba($color: $bampYellow, $alpha: 0);
    img {
        width: 100%;
    }
}
.user-name {
    margin-top: 16px;
    h5 {
        color: $white;
        font-size: 14px;
        text-align: center;
    }
    .active-text-line {
        width: 100%;
        height: 2px;
        margin-top: 4px;
        background-color: $bampYellow;
        transform: translateX(-100px);
        transition: transform 0.3s;
    }
}
.profile:hover {
    .profile-img {border: 3px solid $bampYellow;}
    .active-text-line {
        transform: translateX(0px);
    }
}

input[type=radio]:checked + label { 
    .profile-img {border: 3px solid $bampYellow;}
    .active-text-line {
        transform: translateX(0px);
    }
} 
.error {
    font-size: 14px;
    color: $red;
    font-weight: 'bold';
    margin-top: 12px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.3s;
}
.error-show {
    visibility: visible;
    height: 20px;
}

.enter-btn {
    margin-top: 48px;
    padding: 12px 80px 10px;
    border-radius: 10px;
    background-color: $bampYellow;
    color: $brown;
    border: none;
    font-size: 24px;
    font-weight: 700;
    transition: transform 0.3s;
}
.enter-btn:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.copyright {
    text-align: center;
    font-size: 12px;
    font-weight: 'regular';
    color: $gray2;
    position: absolute;
    bottom: 20px;
}

//메인페이지 
.main-page {
    display: none;
}
.show {
    display: initial;
}
.hidden {
    display: none;
}

//헤더
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    img {
        margin: 15px auto;
        display: block;    
        height: 30px;
    }
}

//채팅 영역
.chatting-background {
    width: 100%;
    background-color: #f9f9f9;
    overflow-y: hidden;
}
.chatting-area {
    max-width: 750px;
    width: 100%;
    background-color: $white;
    margin: auto;
    padding: 80px 20px 40px;
    box-shadow: $shadow;
}
.chat-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #999;
    top: 80px;
    h5 {
        width: 30%;
        text-align: center;
    }
    hr {
        width: 35%;
        height: 0.5px;
    }
}
.chat-left {
    margin-top: 24px;
    display: flex;
    opacity: 0;
}
.chat-profile {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.chat-user-information {
    margin-left: 10px;
    .chat-user-name {
        font-size: 12px;
        font-weight: 500;
    }
}
.chat-box {
    margin-top: 8px;
    font-size: 16px;
    padding: 10px 24px 8px;
    background-color: #e9e9eb;
    border-radius: 0px 20px 20px 20px;
}
.chat-right {
    width: fit-content;
    margin: 24px 0px 0px auto;
    font-size: 16px;
    padding: 10px 24px 8px;
    background-color: $bampYellow;
    border-radius: 20px 0px 20px 20px;
    text-align: right;
    right: 0px;
    opacity: 0;
}
.chat-show {
    opacity: 1;
}

//인터뷰 영역
.interview-area {
    max-width: 750px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}
.interview-title {
    text-align: center;
    margin-top: 200px;
    img {
        width: 240px;
    }
    p {
        margin-top: 28px;
        font-size: 16px;
        font-weight: 500;
    }
    h1{
        margin: 12px auto 200px;
        font-size: 24px;
        font-weight: 700;
    }
}
.keyword-anchor-btns {
    gap: 16px;
    position: sticky;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
}
.anchor-btn {
    padding: 10px 24px 8px;
    border: 1.4px solid $bampYellow;
    border-radius: 20px;
    color: $black;
    background-color: $white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
.swiper-slide {
    width: auto !important;
}
.anchor-btn:hover {
    background-color: $bampYellow;
    color: $white;
}
.anchor-focus {
    color: $white;
    background-color: $bampYellow;
    border: 1.4px solid $bampYellow;
}
.interview {
    padding-top: 180px;
}
.interview-keyword {
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}
.interview-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #999;
    margin-top: 8px;
}
.question {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 700;
}
.answer {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
}
.interview-visual-content {
    margin-top: 40px;
    h6 {
        font-size: 14px;
        font-weight: 400;
        color: #999;
        margin: 16px auto 0px;
        text-align: center;
    }
}
.interview-img {
    padding-top: 60%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        background-color: rgb(213, 213, 213);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: none;
        object-fit: cover;
    }
}
.BAMP-SNS {
    margin: 120px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.SNS-img {
    display: flex;
    margin: 32px auto;
    gap: 20px;
}
.icon-img {
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: transform 0.3s;
    img {
        width: 100%;
    }
}
.icon-img:hover {
    transform: scale(0.96);
}

.donation {
    margin-top: 60px;
    text-align: center;
    h6 {
        margin-top: 12px;
        font-size: 14px;
        color: #999;
    }
    p {
        margin-top: 20px;
    }
}


// @media screen and (max-width: $tablet) {
//     .keyword-anchor-btns {
//         width: 100%;
//         flex-wrap: nowrap;
//         overflow-x: hidden;
//     }
// }

/* Mobile부분 CSS */
@media screen and (max-width: $mobile) {
    .chatting-area {
      width: 95%;
      padding: 80px 15px 40px;
    }
    .chat-message {
      gap: 10px;
    }
    .chat-message h5 {
      width: 100%;
    }
    .chat-box {
      font-size: 14px;
      margin-right: 20px;
      padding: 10px 16px 8px;
    }
    .chat-right {
      font-size: 14px;
      margin: 24px 5px 0px auto;
      padding: 10px 16px 8px;
    }
  }

