* {
    margin: 0px;
    box-sizing: 0px;
}

$white: #fff;
$black: #000;
$bampYellow: #FFC800;

$mobile: 768px;

.intro-page {
    background-color: $white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.intro-title {
    h1 {
        font-size: 24px;
        font-weight: 700;
    }
    h4 {
        margin-top: 12px;
        font-size: 16px;
        font-size: 300;
    }
}
.choose-profile {
    margin-top: 80px;
    h5 {
        font-size: 20px;
    }
}
.profile-box {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 28px auto 0px;
}
.active-box-line { // 라디오 버튼으로 변경하기 
    width: 88px;
    height: 88px;
    border-radius: 25px;
    border: 2px solid $bampYellow;
    transition: transform 0.3s;
    .profile-img {
        width: 80px;
        height: 80px;
        margin: 4px auto;
        background-color: $bampYellow;
        border-radius: 20px;
    }
}
.user-name {
    margin-top: 24px;
    h5{
        font-size: 16px;
        font-weight: 500;
    }
}
.active-text-line {
    margin: auto;
    width: 100%;
    height: 3px;
    margin-top: 4px;
    background-color: $bampYellow;
    transform: translateX(-100px);
    transition: transform 0.3s;
}
.profile {
    overflow-x: hidden;
    cursor: pointer;
}
.profile:hover {
    .active-text-line {
        transform: translateX(0px);
    }
}
.enter-btn {
    margin-top: 68px;
    padding: 12px 80px 10px;
    border-radius: 10px;
    background-color: $bampYellow;
    color: $white;
    border: none;
    font-size: 28px;
    font-weight: 500;
}
.enter-btn:hover {
    cursor: pointer;
}

//메인페이지 
.main-page {
    display: none;
}
.show {
    display: initial;
}
.hidden {
    display: none;
}

//헤더
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    img {
        margin: 15px auto;
        display: block;    
        height: 30px;
    }
}

//채팅 영역
.chatting-area {
    max-width: 750px;
    width: 100%;
    height: 3000px;
    background-color: #FFF2C4;
    margin: auto;
    padding: 80px 20px 40px;
    position: relative;
}
.chat-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #999;
    position: sticky;
    top: 80px;
    h5 {
        width: 30%;
        text-align: center;
    }
    hr {
        width: 35%;
        height: 0.5px;
    }
}
.chat-left {
    margin-top: 24px;
    display: flex;
    position: sticky;
    opacity: 0;
}
.chat-profile {
    width: 40px;
    height: 40px;
    background-color: #999;
    border-radius: 40px;
}
.chat-user-information {
    margin-left: 10px;
    .chat-user-name {
        font-size: 12px;
        font-weight: 500;
    }
}
.chat-box {
    margin-top: 8px;
    font-size: 16px;
    padding: 10px 24px 8px;
    background-color: $white;
    border-radius: 0px 20px 20px 20px;
}
.chat-right {
    width: fit-content;
    margin: 24px 0px 0px auto;
    font-size: 16px;
    padding: 10px 24px 8px;
    background-color: $bampYellow;
    border-radius: 20px 0px 20px 20px;
    text-align: right;
    right: 0px;
    position: sticky;
    opacity: 0;
}

//스크롤시 채팅 나타나게 위치 잡기
.chat1 {
    margin-top: 140px;
    top: 116px;
}
.chat2 {
    margin-top: 100px;
    top: 200px;
}
.chat3 {
    margin-top: 140px;
    top: 284px;
}
.chat4 {
    margin-top: 120px;
    top: 365px;
}
.chat5 {
    margin-top: 120px;
    top: 449px;
}
.chat6 {
    margin-top: 120px;
    top: 533px;
}
.chat7 {
    margin-top: 120px;
    top: 617px;
}
.chat8 {
    margin-top: 120px;
    top: 701px;
}
.chat9 {
    margin-top: 120px;
    top: 785px;
}
.chat10 {
    margin-top: 120px;
    top: 882px;
}

//인터뷰 영역
.interview-area {
    max-width: 750px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}
.interview-title {
    text-align: center;
    margin-top: 120px;
    p {
        font-size: 16px;
        font-weight: 500;
    }
    h1{
        margin: 12px auto 200px;
        font-size: 24px;
        font-weight: 700;
    }
}
.keyword-anchor-btns {
    gap: 16px;
    position: sticky;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
}
.anchor-btn {
    padding: 10px 24px 8px;
    border: 1.4px solid $bampYellow;
    border-radius: 20px;
    color: $black;
    background-color: $white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}
.anchor-btn:hover {
    background-color: $bampYellow;
    color: $white;
}
.anchor-active {
    color: $white;
    background-color: $bampYellow;
    border: 1.4px solid $bampYellow;
}
.interview {
    margin-top: 160px;
}
.interview-keyword {
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}
.interview-description {
    font-size: 20px;
    line-height: 28px;
    color: #999;
    margin-top: 8px;
}
.question {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 700;
}
.answer {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
}
.interview-visual-content {
    margin-top: 40px;
    h6 {
        font-size: 14px;
        font-weight: 400;
        color: #999;
        margin: 16px auto 0px;
        text-align: center;
    }
}
.interview-img {
    padding-top: 56.25%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        background-color: rgb(213, 213, 213);
        width: 100%;
        height: 100%;
        // height: 448px;
        border-radius: 10px;
        border: none;
        object-fit: cover;
    }
}
.BAMP-SNS {
    margin: 160px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.SNS-img {
    display: flex;
    margin: 32px auto;
    gap: 20px;
}
.icon-img {
    background-color: #ffc800;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    img {
        display: block;
        margin: 14px auto;
    }
}
.donation {
    margin-top: 60px;
    text-align: center;
    h6 {
        margin-top: 12px;
        font-size: 14px;
        color: #999;
    }
    p {
        margin-top: 20px;
    }
}

// mobile 부분 css

@media screen and (max-width: 768px){
    .chatting-area{
        width: 90%;
        padding: 80px 15px 40px;
    }
}