* {
    margin: 0px;
    box-sizing: 0px;
}
$white: #fff;
$black: #000;
$bampYellow: #FFC800;

$mobile: 768px;

.intro-page {
    background-color: $white;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    text-align: center;
    top: 10%;
}
.intro-title {
    h1 {
        font-size: 24px;
        font-weight: 700;
    }
    h4 {
        margin-top: 12px;
        font-size: 16px;
        font-size: 300;
    }
}
.choose-profile {
    margin-top: 80px;
    h5 {
        font-size: 20px;
    }
}
.profile-box {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 28px auto 0px;
}
.active-box-line {
    width: 140px;
    height: 140px;
    border-radius: 35px;
    border: 3px solid $bampYellow;
    .profile-img {
        width: 120px;
        height: 120px;
        margin: 10px auto;
        background-color: $bampYellow;
        border-radius: 30px;
        cursor: pointer;
    }
}
.user-name {
    margin-top: 24px;
    h5{
        font-size: 20px;
    }
    .active-text-line {
        margin: auto;
        width: 70%;
        height: 3px;
        background-color: $bampYellow;
    }
}
.enter-btn {
    margin-top: 68px;
    padding: 12px 80px 10px;
    border-radius: 10px;
    background-color: $bampYellow;
    color: $white;
    border: none;
    font-size: 28px;
    font-weight: 700;
}
.enter-btn:hover {
    cursor: pointer;
}
.main-page {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    img {
        margin: 15px auto;
        display: block;    
        height: 30px;
    }
}
.chatting-area {
    max-width: 750px;
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
    margin: auto;
}
.interview-area {
    max-width: 750px;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
}
.interview-title {
    text-align: center;
    margin-top: 120px;
    p {
        font-size: 16px;
        font-weight: 500;
    }
    h1{
        margin-top: 12px;
        font-size: 24px;
        font-weight: 700;
    }
}
.interview {
    margin-top: 160px;
}
.interview-keyword {
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}
.interview-description {
    font-size: 20px;
    line-height: 28px;
    color: #999;
    margin-top: 8px;
}
.question {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 700;
}
.answer {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
}
.interview-img {
    margin-top: 40px;
    img {
        background-color: rgb(213, 213, 213);
        width: 100%;
        height: 448px;
        border-radius: 10px;
        border: none;
        object-fit: cover;
    }
    h6 {
        font-size: 16px;
        color: #999;
        margin: 12px auto 0px;
        text-align: center;
    }
}
.BAMP-SNS {
    margin: 160px auto 0px;
}
.SNS-img {
    display: flex;
    margin: 32px auto;
    gap: 20px;
}
.icon-img {
    background-color: #ffc800;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    img {
        display: block;
        margin: 14px auto;
    }
}