* {
  margin: 0px;
  -webkit-box-sizing: 0px;
          box-sizing: 0px;
}

.intro-page {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.intro-title h1 {
  font-size: 24px;
  font-weight: 700;
}

.intro-title h4 {
  margin-top: 12px;
  font-size: 16px;
  font-size: 300;
}

.choose-profile {
  margin-top: 80px;
}

.choose-profile h5 {
  font-size: 20px;
}

.profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 28px auto 0px;
}

.active-box-line {
  width: 88px;
  height: 88px;
  border-radius: 25px;
  border: 2px solid #FFC800;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.active-box-line .profile-img {
  width: 80px;
  height: 80px;
  margin: 4px auto;
  background-color: #FFC800;
  border-radius: 20px;
}

.user-name {
  margin-top: 24px;
}

.user-name h5 {
  font-size: 16px;
  font-weight: 500;
}

.active-text-line {
  margin: auto;
  width: 100%;
  height: 3px;
  margin-top: 4px;
  background-color: #FFC800;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.profile {
  overflow-x: hidden;
  cursor: pointer;
}

.profile:hover .active-text-line {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.enter-btn {
  margin-top: 68px;
  padding: 12px 80px 10px;
  border-radius: 10px;
  background-color: #FFC800;
  color: #fff;
  border: none;
  font-size: 28px;
  font-weight: 500;
}

.enter-btn:hover {
  cursor: pointer;
}

.main-page {
  display: none;
}

.show {
  display: initial;
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header img {
  margin: 15px auto;
  display: block;
  height: 30px;
}

.chatting-area {
  max-width: 750px;
  width: 100%;
  height: 3000px;
  background-color: #FFF2C4;
  margin: auto;
  padding: 80px 20px 40px;
  position: relative;
}

.chat-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  color: #999;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.chat-message h5 {
  width: 30%;
  text-align: center;
}

.chat-message hr {
  width: 35%;
  height: 0.5px;
}

.chat-left {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  opacity: 0;
}

.chat-profile {
  width: 40px;
  height: 40px;
  background-color: #999;
  border-radius: 40px;
}

.chat-user-information {
  margin-left: 10px;
}

.chat-user-information .chat-user-name {
  font-size: 12px;
  font-weight: 500;
}

.chat-box {
  margin-top: 8px;
  font-size: 16px;
  padding: 10px 24px 8px;
  background-color: #fff;
  border-radius: 0px 20px 20px 20px;
}

.chat-right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px 0px 0px auto;
  font-size: 16px;
  padding: 10px 24px 8px;
  background-color: #FFC800;
  border-radius: 20px 0px 20px 20px;
  text-align: right;
  right: 0px;
  position: -webkit-sticky;
  position: sticky;
  opacity: 0;
}

.chat1 {
  margin-top: 140px;
  top: 116px;
}

.chat2 {
  margin-top: 100px;
  top: 200px;
}

.chat3 {
  margin-top: 140px;
  top: 284px;
}

.chat4 {
  margin-top: 120px;
  top: 365px;
}

.chat5 {
  margin-top: 120px;
  top: 449px;
}

.chat6 {
  margin-top: 120px;
  top: 533px;
}

.chat7 {
  margin-top: 120px;
  top: 617px;
}

.chat8 {
  margin-top: 120px;
  top: 701px;
}

.chat9 {
  margin-top: 120px;
  top: 785px;
}

.chat10 {
  margin-top: 120px;
  top: 882px;
}

.interview-area {
  max-width: 750px;
  width: 90%;
  margin: auto;
  padding-bottom: 100px;
}

.interview-title {
  text-align: center;
  margin-top: 120px;
}

.interview-title p {
  font-size: 16px;
  font-weight: 500;
}

.interview-title h1 {
  margin: 12px auto 200px;
  font-size: 24px;
  font-weight: 700;
}

.keyword-anchor-btns {
  gap: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.anchor-btn {
  padding: 10px 24px 8px;
  border: 1.4px solid #FFC800;
  border-radius: 20px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.anchor-btn:hover {
  background-color: #FFC800;
  color: #fff;
}

.anchor-active {
  color: #fff;
  background-color: #FFC800;
  border: 1.4px solid #FFC800;
}

.interview {
  margin-top: 160px;
}

.interview-keyword {
  font-size: 32px;
  line-height: 46px;
  font-weight: 700;
}

.interview-description {
  font-size: 20px;
  line-height: 28px;
  color: #999;
  margin-top: 8px;
}

.question {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
}

.answer {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
}

.interview-visual-content {
  margin-top: 40px;
}

.interview-visual-content h6 {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin: 16px auto 0px;
  text-align: center;
}

.interview-img {
  padding-top: 56.25%;
  position: relative;
}

.interview-img img {
  position: absolute;
  top: 0;
  background-color: #d5d5d5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.BAMP-SNS {
  margin: 160px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.SNS-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px auto;
  gap: 20px;
}

.icon-img {
  background-color: #ffc800;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.icon-img img {
  display: block;
  margin: 14px auto;
}
/*# sourceMappingURL=main.css.map */